name: hello
on:
  - push

jobs:
  # hello-linux:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: actions/setup-python@v2
  #       with:
  #         python-version: '3.9'
  #     - name: Install
  #       run: pip install .
  #     - name: Execute
  #       run: hello-world
  hello-win:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Install
        run: |
          pip install -r requirements.txt
          pip install .
      - name: Execute
        run: hello-world
      - name: Test
        run: pytest -vv tests/
